@page "{id:int}"
@model projecten2.Areas.Identity.Pages.Streaming.DeleteDbFileModel
@{ ViewData["Title"] = "Delete File"; }

<h2 class=" display-4 font-weight-normal">Delete bestand</h2>

<p class="lead font-weight-normal" >Weet u zeker dat u dit bestand wilt verwijderen?</p>

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.RemoveFile.UntrustedName)
    </dt>
    <dd>
        @Model.RemoveFile.UntrustedName
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.RemoveFile.Note)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RemoveFile.Note)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.RemoveFile.Size)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RemoveFile.Size)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.RemoveFile.UploadDT)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RemoveFile.UploadDT)
    </dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="RemoveFile.Id" />
    <input type="submit" value="Delete" class="btn btn-default" />
</form>
