@page
@model projecten2.Areas.Identity.Pages.Streaming.IndexModel
@{ ViewData["Title"] = "Upload bestanden"; }

<h1 class=" display-4 font-weight-normal" >Bestanden in de database</h1>

@if (Model.DatabaseFiles.Count == 0)
{
<p class="lead font-weight-normal">
    Er zijn geen bestanden beschikbaar. Bezoek een van de pagina's met scenario's voor het uploaden van bestanden om een of meer bestanden te uploaden.
</p> }
            else
            {
<table class="table table-hover table-striped table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.DatabaseFiles[0].UntrustedName) /
                @Html.DisplayNameFor(model => model.DatabaseFiles[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatabaseFiles[0].UploadDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatabaseFiles[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatabaseFiles[0].ticket)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.DatabaseFiles)
        {
        <tr>
            <td>
                <a role="button" class="btn btn-danger btn-sm" asp-page="./DeleteDbFile" asp-route-id="@file.Id">Delete</a>
            </td>
            <td>
                <b>@file.UntrustedName</b><br>
                @Html.DisplayFor(modelItem => file.Note)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => file.UploadDT)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => file.Size)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => file.ticket.Titel)
            </td>
            <td class="text-center">
                <a role="button" class="btn btn-info btn-sm" asp-page-handler="DownloadDb" asp-route-id="@file.Id">Download</a>
            </td>           
        </tr> 
        }
    </tbody>
</table>}

