@page
@model projecten2.Areas.Identity.Pages.Streaming.IndexModel
@{ ViewData["Title"] = "Upload bestanden"; }

<h2>Uw bijlages</h2>

@if (Model.DatabaseFiles.Count == 0)
{
<p class="lead font-weight-normal">
    U heeft nog geen bijlage. U kan één of meerdere bestanden uploaden door 'details' te selecteren bij het relevante ticket in uw ticketoverzicht.
</p> }
else
{
<table style=" width:60em" class="table table-sm table-bordered">
    <thead>
        <tr style='background: #f4f093'>
            <th style="text-align: center">
                Bestandsnaam
            </th>
            <th style="text-align: center">
                Omschrijving
            </th>
            <th style="text-align: center">
                Toegevoegd op
            </th>
            <th style="text-align: center">
                Grootte
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.DatabaseFiles)
        {
<tr>
    <td style="text-align: center">
        @file.UntrustedName
    </td>
    <td style="text-align: center">
        @Html.DisplayFor(modelItem => file.Note)
    </td>
    <td style="text-align: center">
        @Html.DisplayFor(modelItem => file.UploadDT)
    </td>
    <td style="text-align: center">
        @Html.DisplayFor(modelItem => file.Size) bytes
    </td>
    <td class="text-center">
        <a role="button" class="btn btn-info btn-sm" asp-page-handler="DownloadDb" asp-route-id="@file.Id">Download</a>
        <a role="button" class="btn btn-danger btn-sm" asp-page="./DeleteDbFile" asp-route-id="@file.Id">Verwijder</a>
    </td>
</tr>}
    </tbody>
</table>}
<a asp-area="" asp-controller="Ticket" asp-action="Index" class="btn btn-secondary border-0">Terug</a>

