@model projecten2.Models.Domain.Contract

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractTitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractTitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doorlooptijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doorlooptijd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EindDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EindDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractType.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="Model.ContractNr">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
