@model projecten2.Models.Domain.Contract

@{
    ViewData["Title"] = "Details";
}

<div class="w-75 mx-auto">
    <h2>Contract details</h2>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            Contract titel:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ContractTitel)
        </dd>
        <dt class="col-sm-3">
            Doorloop tijd:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Doorlooptijd) jaar
        </dd>
        <dt class="col-sm-3">
            Startdatum:
        </dt>
        <dd class="col-sm-9">
            @String.Format("{0:dd/MM/yyyy}", Model.StartDatum)
        </dd>
        <dt class="col-sm-3">
            Einddatum:
        </dt>
        <dd class="col-sm-9">
            @String.Format("{0:dd/MM/yyyy}", Model.EindDatum)
        </dd>
        <dt class="col-sm-3">
            Contract status:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ContractStatus)
        </dd>
        <dt class="col-sm-3">
            Contract type:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ContractType.Naam)
        </dd>
    </dl>

    <div>
        <a asp-action="Index" class="btn btn-secondary border-0">Terug</a>
    </div>
</div>