@model IEnumerable<projecten2.Models.Domain.Contract>

@{
    ViewData["Title"] = "Contracten";
}

<link href="~/css/TicketCSS/IndexSS.css" rel="stylesheet" type="text/css" />
<ul id="right-side">
    <div class="myCreateButton">
        <p>
            <a style='background: #4591c6' class="btn btn-primary" role="button" asp-controller="Contract" asp-action="Create">Nieuw contract afsluiten</a>
        </p>
    </div>
</ul>

<h2>Overzicht van mijn contracten  </h2>

<table class="table table-hover table-striped table-responsive">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Start datum
            </th>
            <th>
                Eind datum
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ContractTitel)

    </td>
    <td>
        @String.Format("{0:dd/MM/yyyy}", item.StartDatum)

    </td>
    <td>
        @String.Format("{0:dd/MM/yyyy}", item.EindDatum)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ContractStatus)
    </td>
    <td>
        <a asp-controller="Contract" asp-action="Details" asp-route-id="@item.ContractNr">details</a>
        |
        <a asp-controller="Contract" asp-action="Delete" asp-route-id="@item.ContractNr">stopzetten</a>
    </td>
</tr>}
    </tbody>
</table>
