@model projecten2.Models.Domain.Ticket

@{ ViewData["Title"] = "Details"; }

<div>
    <h4 class="display-4 font-weight-normal">Ticket details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AanmaakDatum)
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:dd/MM/yyyy}", Model.AanmaakDatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LaatstGewijzigd)
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:dd/MM/yyyy}", Model.LaatstGewijzigd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opmerkingen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opmerkingen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus)
        </dd>
    </dl>
</div>
<div>

    <a style='background: #4591c6' asp-area="Identity" asp-page="/Streaming/BufferedMultipleFileUploadDb" asp-route-id="@Model.TicketNr" class="btn btn-primary">upload bijlage</a>
    <a style='background: #4591c6' asp-action="Index" class="btn btn-primary">Terug naar de lijst met tickets</a>
</div>
