@model IEnumerable<projecten2.Models.Domain.Ticket>

@{ ViewData["Title"] = "Ticket Overzicht"; }

<link href="~/css/TicketCSS/IndexSS.css" rel="stylesheet" type="text/css" />


<h2>Overzicht van mijn tickets @ViewBag.ContractNaam</h2>

<form>
    <div class="form-group">
        <label for="contractid" class="control-label">Geef tickets van </label>
        <select name="contractid" id="contractid" value="@(ViewData["selectedcontract"])" asp-items="@(ViewData["contractenKlant"]  as SelectList)">
            <option value="">Alle contracten </option>
        </select>
        |
        <input type="checkbox" name="ticketstatus" id="ticketstatus" value=true>
        <label for="ticketstatus"> Geannuleerde en afgehandelde tickets weergeven</label><br>
        <input style='background: #cad50c' type="submit" value="zoek" class="btn btn-secondary"/>
        <a style='background: #4591c6' class="btn btn-primary" role="button" asp-controller="Ticket" asp-action="Create">Nieuw ticket aanmaken</a>
    </div>
</form>


<table class="table table-hover table-striped table-responsive">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Prioriteit
            </th>
            <th>
                Aangemaakt op
            </th>
            <th>
                Laatst gewijzigd
            </th>
            <th>
                Status
            </th>
            <th>
                Contract
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Titel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketType.Naam)
    </td>
    <td>
        @String.Format("{0:dd/MM/yyyy}", item.AanmaakDatum)
    </td>
    <td>
        @String.Format("{0:dd/MM/yyyy}", item.LaatstGewijzigd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Contract.ContractTitel)
    </td>
    <td>
        <a asp-controller="Ticket" asp-action="Edit" asp-route-id="@item.TicketNr">wijzig</a>
        |
        <a asp-controller="Ticket" asp-action="Details" asp-route-id="@item.TicketNr">details</a>
        |
        <a asp-controller="Ticket" asp-action="Delete" asp-route-id="@item.TicketNr">annuleer</a>
    </td>
</tr>
}
    </tbody>
</table>


