@model IEnumerable<projecten2.Models.Domain.Ticket>

@{ ViewData["Title"] = "Ticket Overzicht"; }

<link href="~/css/TicketCSS/IndexSS.css" rel="stylesheet" type="text/css" />

<ul id="right-side">
    <!--<div id="profile-pic">
        <img src="https://i.stack.imgur.com/34AD2.jpg" id="profilepic">
    </div>
    <div id="profile-name">
        User Name
    </div>-->

    <div class="myCreateButton">
        <p>
            <a class="btn btn-primary" role="button" asp-controller="Ticket" asp-action="Create">Nieuw ticket aanmaken</a>
        </p>
    </div>
</ul>

<h2>Overzicht van mijn bestaande tickets</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AanmaakDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Titel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketType.Naam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AanmaakDatum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketStatus)
    </td>
    <td>
        <a asp-controller="Ticket" asp-action="Edit" asp-route-id="@item.TicketNr">Ticket wijzigen</a>
        <!--<a asp-controller="Ticket" asp-action="Details" asp-route-id="item.TicketNr">Details</a>-->

    </td>
</tr>}
    </tbody>
</table>


