@model IEnumerable<projecten2.Models.Domain.Ticket>

@{ ViewData["Title"] = "Ticket Overzicht"; }

<link href="~/css/TicketCSS/IndexSS.css" rel="stylesheet" type="text/css" />

<ul id="right-side">
    <!--<div id="profile-pic">
        <img src="https://i.stack.imgur.com/34AD2.jpg" id="profilepic">
    </div>
    <div id="profile-name">
        User Name
    </div>-->

    <div class="myCreateButton">
        <p>
            <a class="btn btn-primary" role="button" asp-controller="Ticket" asp-action="Create">Nieuw ticket aanmaken</a>
        </p>
    </div>
</ul>
<form>
    <div class="form-group">
        <label for="contractid" class="control-label">Zoek een Contract voor tickets weer te geven </label>
        <select name="contractid" id="contractid" value=@ViewData["contractid"] asp-items="@(ViewData["contractenKlant"]  as SelectList)">
            <option value="0">--selecteer contract--</option>
        </select>
        <input type="submit" value="zoek" class="btn btn-secondary" />
    </div>
</form>
<h2>Overzicht van mijn tickets</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Ticket prioriteit
            </th>
            <th>
                Aangemaakt op
            </th>
            <th>
                Ticket status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Titel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketType.Naam)
    </td>
    <td>
        @String.Format("{0:dd/MM/yyyy}", item.AanmaakDatum)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TicketStatus)
    </td>
    <td>
        <a asp-controller="Ticket" asp-action="Edit" asp-route-id="@item.TicketNr">Ticket wijzigen</a>
        <!--Lijn hieronder wijzigen en gebruiken voor "ticket afsluiten"-->
        <!--<a asp-controller="Ticket" asp-action="Details" asp-route-id="item.TicketNr">Details</a>-->

    </td>
</tr>
}
    </tbody>
</table>


