@model IEnumerable<projecten2.Models.Domain.Ticket>
@{ ViewData["Title"] = "Dashboard"; }


<div class="row">
    <div style='background: #cad50c'class="container col-lg-5 text-center border rounded py-5 mt-3 bg- mx-3"><a class="nav-item nav-link text-dark " asp-area="" asp-controller="Ticket" asp-action="Create"><h2 class="text-white">Ticket aanmaken</h2></a></div>
    <div style='background: #4591c6' class="container col-lg-5 text-center border rounded py-5 mt-3 bg- mx-3"><a class="nav-item nav-link text-dark " asp-area="" asp-controller="Contract" asp-action="Create"><h2 class="text-white">Contract afsluiten</h2></a></div>

</div>
<div class="row my-5">
    <div class="container col-lg-6 mx-3"> <vc:chartjs></vc:chartjs></div>
    <div class="container col-lg-4 my-4 mx-3 ">
        <div  style='background: #4591c6' class="container my-3  ">
            <a class="nav-item nav-link text-dark " asp-area="" asp-controller="Contract" asp-action="Index"><h4 class="text-white">Lopende contracten:<br>@ViewBag.TotaalAantalTickets </h4></a>
        </div>
        <div  style='background: #4591c6' class="container   my-3   ">
            <a class="nav-item nav-link text-dark  " asp-area="" asp-controller="Ticket" asp-action="Index"><h4 class="text-white">Actieve tickets:<br>@ViewBag.TotaalAantalContracten </h4></a>
        </div>
    </div>

</div>
<h1 class="mt-5">Recente Activiteiten</h1>
<table class="table  table-sm table-bordered ">
    <thead>
        <tr style='background: #f4f093'>
            <th>Titel</th>
            <th>Status</th>
            <th>Contract</th>
            <th>Laatst Gewijzigd</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Titel)</td>
                <td>@Html.DisplayFor(modelItem => item.TicketStatus)</td>
                <td>@Html.DisplayFor(modelItem => item.Contract.ContractTitel)</td>
                <td>@String.Format("{0:dd/MM/yyyy}", item.LaatstGewijzigd)</td>
            </tr>
        }
    </tbody>
</table>

