@model projecten2.Models.Domain.Rapport

@{ ViewData["Title"] = "Rapport"; }
<div class="w-75 mx-auto">
<h1 class="text-capitalize ">Rapport van: @ViewBag.ticketnaam</h1>

<table style=" width:60em" class="table table-sm table-bordered">
    <thead>
        <tr style='background: #f4f093'>
            <th style="text-align: center">
                Naam
            </th>
            <th style="text-align: center">
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th style="text-align: center">
                @Html.DisplayNameFor(model => model.Oplossing)
            </th>
            <th style="text-align: center">
                @Html.DisplayNameFor(model => model.Ticket)
            </th>
        </tr>
    </thead>
    <tbody>  
<tr>
    <td style="text-align: center">
        @Html.DisplayFor(model => model.RapportNaam)
    </td>
    <td style="text-align: center">
        @Html.DisplayFor(model => model.Beschrijving)
    </td>
    <td style="text-align: center">
        @Html.DisplayFor(model => model.Oplossing)
    </td>
    <td style="text-align: center">
        @Html.DisplayFor(model => model.Ticket.Omschrijving)
    </td>
</tr>
    </tbody>
</table>
<div>
<a asp-action="Index" class="btn btn-secondary border-0">Terug</a>
 </div>
 </div>
